#spill{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#dino{
    background-image: url("./dino.png");
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    top: 150px;
    position: relative;
}

#kaktus{
    background-image: url("./cactus.png");
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    left: 570px;
    top: 110px;
    position: relative;
}